div#gameArea div {
    float: left;
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 2px solid black;
    box-shadow: 7px 7px 3px #c0c0c0;
}

div#gameArea img {
    width: 150px;
    height: 150px;
}